{{! backend/templates/bookingReminder.hbs }}
<p>Hi {{clientName}},</p>
<p>This is a reminder that your meeting <strong>{{eventTitle}}</strong> is scheduled for {{dateTime}} ({{timezone}}).</p>
<p>Duration: {{duration}} min</p>
<p>See you soon!<br>Calendly-Clone</p>